.home-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.home-img{
    margin:30px 0;
    width: 100%;
    
}
.home-img img{
    width: 100%;
    height: 300px;
}

.calendar-events{
    position: relative;
    display: flex;
}

.home-events{
    width: 60%;
    height: 100%;
}

.home-calendar{
    font-family: sans-serif;
    text-align: center;
    width: 50%;
}

.facilities-link{
    background-image: linear-gradient(to bottom right, rgb(244, 92, 163), rgb(128, 0, 119));
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.home-events{
    width: 50%;
    position: relative;
}