.register-form {
  margin: auto;
  margin-top: 20px;
  max-width: 40%;
  min-height: 300px;
  border: black 2px solid;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.register-form h1 {
  text-align: center;
}