
.main-div {

    margin: auto;
    margin-top: 20px;
    max-width: 20%;
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    background: rgba(255, 255, 255, 0.5);

    border: 0px solid #000;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;

    
  }

  form a{
    color: black;
    text-align: center;
    margin-top: 10px;
  }
  